<head>
  <title>FantaEure 2014</title>
  <link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="header">
    <div class="container">{{> header}}</div>
	</div>
	<div class="headerwinner">
    <div class="container">{{> winner}}</div>
	</div>
	<div class="container main">
	{{> time}}
    {{> admin}}
    <div class="row">
      <div class="col-sm-8">{{> rounds}}</div>
      <div class="col-sm-4">
        {{> table}}
        {{> chat}}
      </div>
    </div>
    {{> rules}}
  </div>
   {{> footer}}
</body>

<template name="header">
<div class="page-header">
  <header>
    <div class="btn btn-info" id="login">{{> loginButtons align="left"}}</div>
    <h1>FantaEURE 2014</h1>
  </header>
  </div>
</template>

<template name="footer">
<footer>
<div class="container"><p>Credits: Nik, Dave</p></div>
</footer>
</template>

<template name="admin">
  {{#if isAdmin}}
    <button class="update btn btn-danger">AGGIORNA</button>
  {{/if}}
</template>

<template name="time">
  <p>{{time}}</p>
</template>

<template name="rounds">
	<ul class="rounds">
	{{#each rounds}}
      {{> round}}
    {{/each}}
    </ul>
</template>

<template name="round">
	<li class="days">
    
    <h2>
      {{end_at}} - {{title}}
      {{#if isRoundStarted _id}} 
      <small>SCOMMESSE CHIUSE</small>
      {{/if}}
    </h2>
		<ul>
		  {{#each games}}
      		{{> game}}
    	{{/each}}
    </ul>
	</li>
</template>

<template name="game">
	<li>
    {{#if isAdmin}}
    <form style="margin-top:40px;" round="{{../_id}}" game="{{_id}}" class="result-form">
      <input type="text" class="team-1-result form-control">
      <input type="text" class="team-2-result form-control">
      <button class="btn btn-danger">RISULTATO</button>
    </form>
    {{/if}}
    <h3>{{team1_title}} <span class="team-score">{{score1}}</span> - <span class="team-score">{{score2}}</span> {{team2_title}}</h3>
    <form round="{{../_id}}" game="{{_id}}" class="bet-form">
      <input class="team-1 form-control" placeholder="0" type="number" min=0 max=20>
      <input class="team-2 form-control" placeholder="0" type="number" min=0 max=20> 
      <button class="btn btn-primary" bonus="false">BET</button>
      <button class="btn btn-warning" bonus="true">BONUS</button>
    </form>
    <ul class="bets">
      {{#each bets _id}}
        {{> bet}}
      {{/each}}
    </ul>
    <div class="clearfix"></div>
	</li>
</template>

<template name="bet">
  <li class="bet-default-{{defaultBet}}">
  <b>{{username}}</b> {{team1}} - {{team2}}
  {{#if bonus}}
    <span style="color:#F9C000"><b>BONUS</b></span>
  {{/if}}
  </li>
</template>

<template name="table">
  <div class="table-div">
    <h2>Classifica</h2>
	 <table class="users-table table table-condensed">
	 <thead><tr><th>Username</th><th style="text-align:center">Punti</th><th>Winner</th></tr></thead>
      {{#each users}}
      <tr><td style="padding-left:5px;">{{username}}</td><td style="text-align:center"><b>{{points}}</b></td><td>{{winner_name}}</td></tr>
      {{/each}}
	</table>
	
  </div>
</template>

<template name="chat">
  <div>
    <h2>Chat</h2>
    <div class="messages">
      {{#each messages}}
        <p><b>{{username}}:</b> {{message}}</p> 
      {{/each}}
    </div>
    <form action="">
      <input class="form-control" type="text">
      <button class="btn bt-default">INVIA</button>
    </form>
  </div>
</template>

<template name="winner">
  <div class="winner">
  <h2>Vincitore</h2>
  <h3>{{currentUser.winner_name}}</h3>
  {{!--
  <form action="">
    <select class="form-control" style="width:200px;" name="winner" id="winner">
    {{#each teams}}
        <option value="{{_id}}">{{title}}</option> 
      {{/each}}
    </select>
    <button class="btn btn-primary">Scegli</button>
	<p>Pronostica la squadra vincitrice dei Mondiali 2014 entro e non oltre le 18.00 di Giovedì 12 giugno 2014.</p>
  </form>
  --}}
  </div>
</template>

<template name="rules">
 <h2>PREMI:</h2>

  <p>Le regole sono le stesse di 2 anni fa, ossia l'obiettivo è quello di indovinare i risultati esatti delle partite in programma dal 12 giugno al 13 luglio.</p>
  <p>Quota di iscrizione 5 euro. Il totale verrà poi suddiviso come segue:</p>

  <ul>
    <li>1 premio - 50% del totale</li>
    <li>2 premio - 35% del totale</li>
    <li>3 premio - 15% del totale</li>
  </ul>

  <h2>REGOLAMENTO:</h2>

  <p>Il meccanismo del gioco è molto semplice. Ogni mattina verrà mandata una mail con le partite del giorno a cui bisognerà rispondere con il risultato pronosticato da voi entro e non oltre le ore 18.00 del giorno stesso.</p>

  <p>Attribuzione punteggio:</p>


  <ul>
    <li>Se il risultato viene indovinato, verranno assegnati 3 punti ai vincitori.</li>
    <li>Se viene indovinato il "segno" (vittoria, pareggio o sconfitta) ma non il risultato esatto, verrà assegnato 1 punto</li>
    <li>Se non si indovina nè risultato nè "segno": 0 punti</li>
    <li>Ogni fantagiocatore potrà avvelersi di 1 BONUS da giocare su una partita a piacere nell'arco del torneo. Questo bonus fa sì che il punteggio di quella partita verrà raddoppiato</li>
    <li>Ad inizio torneo (entro il 12 giungo alle 18.00) il fantagiocatore deve pronosticare anche la squadra vincitrice del Mondiale 2014. a chi indovinerà verranno dati 10 Punti.</li>
  </ul>


  <p>In caso di mancato pronostico verrà assegnato al fantagiocatore il risultato di default (0 - 0)</p>

  <p>Ovviamente chi avrà più punti vince.<br>
  In caso di parità di punteggio si conterà il numero di risultati esatti indovinati.<br>
  In caso di ulteriore parità gli eventuali premi spettanti verrano uniti e divisi equamente.</p>

</template>